body {
    min-height: 100vh;
}

#configurator,
#board {
    padding: 1rem;
    height: 100vh;
    overflow: auto;
}

#loading {
    position: absolute;
    z-index: 1000;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

td.field {
    text-align: center;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(211, 211, 211);
}

td.field.uninabitable {
    background: #999;
}
