@import "../../node_modules/awesome-notifications/dist/style.css";

body {
    min-height: 100vh;
}

#configurator,
#board {
    padding: 2rem;
    height: 100vh;
    overflow: auto;
}

#loading {
    position: absolute;
    z-index: 1000;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

td.field {
    text-align: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
}

td.field.uninabitable {
    background: #999;
}

canvas {
    cursor: crosshair;
}

canvas,
td.field {
    background: lightgray;
    border: 1px solid darkgray;
}
